.container {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

@media screen and (max-width: 800px) {
  .container {
  	width: 100%;
	overflow: auto;
  }
  article {
  	font-size: 16px;
  }
}

/* Small screens */
@media screen and (max-width: 500px) {
  .container {
  	width: 100%;
	overflow: auto;
  }
  article {
  	font-size: 16px;
  }
}

.image {
	max-width: 100%;
}


/*.story {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.image {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}*/