.container {
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

@media screen and (max-width: 800px) {
  .container {
  	width: 800px;
  	margin-left: auto;
	margin-right: auto;
	overflow: auto;
  }
}

/* Small screens */
@media screen and (max-width: 500px) {
  .container {
  	width: 500px;
  	margin-left: auto;
	margin-right: auto;
	overflow: auto;
  }
}

.image {
	width: 600px;
	max-width: 100%;
	height: 100%;
}


/*.story {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.image {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}*/