.container {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

@media screen and (max-width: 800px) {
  .container {
  	width: 100%;
	overflow: auto;
  }
}

@media screen and (max-width: 500px) {
  .container {
  	width: 100%;
	overflow: auto;
  }
  article {
  	font-size: 18px;
  }
}

.image {
	max-width: 100%;
}

.story {
	max-width: 100%;
}

.social {
	display: inline-block;
	width: 100%;
	text-align: justify;
}


/*.story {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.image {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}*/